<<<<<<< HEAD
.footer{
    background-color: rgb(51, 35, 35);
}

.footerText{
    color: white;
=======
.footer{
    background-color: rgb(51, 35, 35);
}

.footerText{
    color: white;
>>>>>>> 187e5ac (termperory work)
}